.stc-box {
    display: inline-block;
    position: relative;
}

.stc-button {
    cursor: pointer;
    width: 64px;
    height: 61px;
    background: #333 url(../img/down.png) no-repeat center;
    background-size: cover;
}

.stc-table {
    position: relative;
        width: 100%;
}

.stc-input {
    border: 0;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
    padding-left: 15px;
    margin-right: -33px;
}

.stc-lc {
    position: absolute;
    background-color: #fff;
    z-index: 9999;
    max-height: 150px;
    overflow: auto;
    border: 0;
    border-top: 0;
}

.stc-lrow-odd
{
    background-color: #F5F5F5;
}

.stc-ltable
{
    width: 100%;
    position: relative;
}

.stc-lrow-hover
{
    background-color: #e0e0e0;
}

.stc-lrow-hl
{
    background-color: #BDBDBD;
}

.stc-lrow
{
    background-color: #e0e0e0;
}

.stc-text
{
    display: inline-block;
    text-align: left;
    font-size: 18px;
    padding: 3px;
}